.back-img {
  background-image: url(/img/clock_tower.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-effect {
  color: #ffdf00;
  font-weight: bold;
}

.header-wrapper {
  background-color: white;
  opacity: 70%;
  max-width: 1000px;
  width: 90%;
  height: 40vh;
  display: table;
}
.header-wrapper h3 {
  display: table-cell;
  vertical-align: middle;
  color: #551a8b;
  font-family: "Flamenco", cursive;
  text-align: center;
  font-weight: bolder;
  font-size: 4.2vh;
  line-height: 12vh;
  letter-spacing: 2vw;
}

/* ////////////// Doted box /////////// */
.center-dotted-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.dotted-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: 30vh;
  /* border: 0.8vh #fad7d77a;
  border-style: dotted solid double dashed;
  border-radius: 2vh; */
}

.btn {
  font-family: "Flamenco", cursive;
  background-color: #ffdd00aa;
  border: none;
  height: 30vh;
  width: 26vw;
  letter-spacing: 2px;
}

.btn:hover {
  background: #ffdf00;
}

.btn a {
  font-size: clamp(20px, 2vw, 30px);
}
/* ////////////// Doted box /////////// */
/* ////////////// Squares /////////// */

.centered-main-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item-img {
  margin: 5%;
}

.centered-main-box > .item-img > img {
  max-width: 30vh;
  display: block;
  max-height: 30vh;

  transition: ease-in-out 0.3s;
}

.centered-main-box > .item-img > img:hover {
  transform: scale(1.1);
}

/* ////////////// Squares /////////// */ ;
