section.years {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .container {
  display: flex;
  width: 40vw;
  justify-content: space-around;
  border-radius: 100%;
  border: 2px solid black;
}

.num {
  border: 2px solid black;
  padding: 10vw;
  border-radius: 100%;
}

#nineteen {
  background-image: url(/img/abs1.jpg);
  background-position: center;
}
