html,
body {
  margin: 0.5%;
  box-sizing: border-box;
}

.con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 0.5fr 0.5fr 2fr 3fr 0.2fr 4fr 1fr 5fr 2.5fr; */

  grid-template-rows: 5% 3% 30% 25% 50px 50px 50px 400px 50px;
  grid-template-areas:
    "nav nav nav nav"
    "title title title title"
    "carousel carousel carousel carousel"
    "about about photo photo"
    "recom recom recom recom"
    "visit breakfast lunch-dinner coffee"
    "extra extra extra extra"
    "map map map map"
    "top1 top1 top2 top2";
}

/* -------------------Global styles ---------------*/
a {
  color: #551a8b;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
h1 {
  margin: 0;
}
/* -----------x--------Global style ------x---------*/
/* -------------------Navigation ---------------*/
.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  border-bottom: inset;
}

nav .main-logo a {
  font-family: "Yellowtail", cursive;
  font-size: 160%;
}

nav .main-logo {
  display: flex;
  align-items: center;
}

nav .nav-items .nav-link a {
  font-family: "Flamenco", cursive;
  font-weight: bold;
  font-size: 110%;
}

.nav-items li {
  list-style-type: none;
  margin: 10px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.media-icons a {
  padding: 5px 10px;
  font-size: 130%;
}
/* .fab {
  font-size: 1.5em;
} */
/* -- -- X Navigation X -- -- */
/* -- --- Title -- --- */
.title {
  grid-area: title;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: inset;
  background: #f2e5ff;

  /* font-family: "Caveat", cursive; */
  /* font-family: "Cookie", cursive; */
  /* font-family: "Great Vibes", cursive; */
  /* font-family: "Marcellus SC", serif; */
  /* font-family: "Parisienne", cursive; */
  /* font-family: "Sacramento", cursive; */
  /* font-family: "Satisfy", cursive; */
  /* font-family: "Yellowtail", cursive; */
}
.title h1 {
  font-size: 1rem;
  text-transform: uppercase;
  /* background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-blend-mode: lighten; */
  letter-spacing: 3px;
}
/* -- -- X Tittle -- -- */
/* --------------------carousel -------------- */
.carousel {
  grid-area: carousel;
  height: auto;
  display: flex;
  align-items: center;
}
.owl-dots {
  display: none;
}

.item img {
  height: 300px;
  width: 100%;
}

/* ----------------X carousel X --------------- */
/* ----------------About us section --------------- */
.about {
  padding: 5%;
  background: #f2e5ff;
  grid-area: about;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 15% 15%;
  grid-template-areas:
    "about-content"
    "abt-us"
    "btn-more";
}
.about-content {
  grid-area: about-content;
}

.abt-us {
  grid-area: abt-us;
}
.btn-more {
  grid-area: btn-more;
}
/* ----------------X About us section X --------------- */

.photo {
  background: rgb(137, 137, 170);
  grid-area: photo;
}
.recom {
  background: rgb(4, 90, 23);
  grid-area: recom;
}
.visit {
  background: rgb(57, 115, 153);
  grid-area: visit;
}

.breakfast {
  background: red;
  grid-area: breakfast;
}
.lunch-dinner {
  background: rgb(187, 40, 114);
  grid-area: lunch-dinner;
}
.coffee {
  background: khaki;
  grid-area: coffee;
}
.extra {
  background: pink;
  grid-area: extra;
}
.map {
  grid-area: map;
}
.top1 {
  background: gold;
  grid-area: top1;
}
.top2 {
  background: brown;
  grid-area: top2;
}
