html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1.1rem;
}

body::-webkit-scrollbar-thumb {
  background: #aa7776a1;
}

body::-webkit-search-results-button {
  height: 10vh;
}

/* --- --- --- --- -- Global styles --- --- --- --- -- */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

h2 {
  margin: 0;
}
/* --- --- X --- X -- Global styles --- --- X --- X -- */
/* --- --- --- --- -- Navigation --- --- --- --- -- */
.nav {
  min-height: 10vh;
  height: 0;
  overflow: hidden;
  padding: 0rem 1rem;
  transition: height 1s ease-in-out;
}

.nav .nav-menu {
  justify-content: space-between;
  position: relative;
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1.4rem 0;
  display: block;
  font-family: "Yellowtail", cursive;
  color: #551a8b;
}

.nav .nav-items {
  margin: 0;
  display: flex;
  padding: 0;
}

/* Why relative? */
.nav .nav-items .nav-link {
  padding: 1.9rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: "Flamenco", cursive;
  font-weight: bold;
  text-align: center;
}

.nav .nav-items .nav-link a {
  color: #551a8b;
}
.nav .nav-items .nav-link a:hover {
  color: #ffdf00;
}

.nav .social {
  padding: 1.6rem 0rem;
  font-size: 1.4rem;
  text-align: center;
}

.nav .social a {
  padding: 0 0.2rem;
}

.social a {
  color: #ffdf00;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.6rem 0rem;
}

.nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
  color: #333;
}

.collapse {
  height: 30rem;
}

/* --- --- X --- X -- Navigation --- --- X --- X -- */

/* --- --- --- --- -- Title--- --- --- --- -- */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.title h1 {
  color: rgba(203, 207, 198, 1);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* --- --- X --- X -- Title --- --- X --- X -- */
/* --- --- --- --- -- Image- --- --- --- -- */

.banner-img {
  height: 60vh;
  width: 100%;
  background-image: url(/img/new.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

/* --- --- X --- X -- Image --- --- X --- X -- */
/* --- --- --- -- Gallery --- --- ---  --- ----*/
.box-wrapper {
  margin: 1% 1%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.wrapper-img {
  position: relative;
}

.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
}

.subtitle {
  position: absolute;
  color: black;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 2rem;
}

/* --- --- X --- --- -- Gallery --- --- X --- --- -- -- --*/
/* --- --- --- --- -- About us section --- --- --- --- -- */

/* --- --- X --- X -- About us section--- --- X --- X -- */

/* --- --- --- --- -- Carousel --- --- --- --- -- */

.owl-dots {
  display: none;
}

.owl-theme {
  margin-bottom: 5rem;
}

.item img {
  height: 50vh;
  object-fit: cover;
}

/* --- --- X --- X -- Carousel--- --- X --- X -- */

/* Media queries Viewport less then or equal to 800px */

@media only screen and (max-width: 800px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }

  .nav .toggle-collapse {
    display: initial;
  }
}
